.color-menu {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 10;
  pointer-events: none;
}

.color-button {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  pointer-events: auto;
}

.color-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.color-button.active {
  display: none;
}
