.button-download {
  padding: 9px 25px 12px 25px;
  color: var(--text-color);
  display: block;
  font-style: italic;
  background-color: var(--secondary-color);
}

.footer-container {
  display: flex;
  justify-content: end;
}

.button-download:hover {
  color: #fff;
  text-decoration: none;
}
