@import url("https://fonts.googleapis.com/css2?family=Gurajada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  color: var(--text-color);
  text-align: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: var(--link-color);
}

a.contacts {
  font-weight: bold;
}

h2 {
  background-color: var(--secondary-color);
  margin: 20px 0;
}

h3 {
  margin: 19px 0;
}

h4 {
  margin: 21px 0;
}

p {
  margin: 16px 0;
}

.wrapper {
  padding-bottom: 40px;
}

.app-container {
  width: 100%;
  padding: 5%;
  background-color: var(--background-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 520px) {
  #root {
    padding: 0;
  }
}
