@import url("https://fonts.googleapis.com/css2?family=Gurajada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  color: #444;
  text-align: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #e8a3a8;
  text-decoration: none;
}

a.contacts {
  font-weight: bold;
}

h2 {
  background-color: #f1d2d3;
}

.wrapper {
  padding-bottom: 40px;
}

.app-container {
  width: 100%;
  padding: 5%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f1d2d3;
}

.header-wrapper {
  width: 73%;
  padding: 20px 60px;
  box-sizing: border-box;
}

.right-block {
  padding: 40px 0 40px 60px;
}

.left-block {
  padding: 40px 0px;
}

.header-wrapper-small-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-avatar-wrapper {
  width: 27%;
  height: 511px;
  display: block;
  background-image: url("./assets/avatar.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.header-wrapper-small-size-avatar {
  display: none;
}

.header-avatar {
  width: 100%;
  height: 100%;
}

.header-name {
  font-family: Ruthie, cursive;
  font-size: 80px;
  line-height: 0.1;
  font-weight: 500;
}

.header-title {
  line-height: 0.1;
  padding-bottom: 30px;
}

.app-wrapper {
  display: flex;
}

.left-block {
  width: 27%;
  box-sizing: border-box;
}

.right-block {
  width: 73%;
  box-sizing: border-box;
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.project-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.project-item {
  display: flex;
  margin-bottom: 40px;
}

.project-list h4 {
  padding-top: 0;
  margin-top: 0;
}

.project-image-nda {
  display: flex;
  width: 100px;
  min-width: 100px;
  height: 75px;
  border: 1px solid #ccc;
  margin-right: 20px;
  font-family: Ruthie, cursive;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #000;
  background-color: #eee;
}
.project-image-nda-mobile {
  display: none;
}

.project-image {
  width: 100px;
  min-width: 100px;
  margin-right: 20px;
}

.project-image img {
  width: 100%;
  border: 1px solid #ccc;
}

.project-image-mobile img {
  display: none;
}

.skills-list {
  list-style-type: none;
  padding-left: 0;
}

.skills-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

.skills-list strong {
  font-weight: 400;
  background-color: #a0a3aa;
  color: #fff;
  padding: 0 5px;
}

.companies-list {
  list-style-type: none;
  padding-left: 0;
}
.companies-item a {
  font-weight: bold;
}

.button-download {
  padding: 9px 25px 12px 25px;
  color: #444;
  display: block;
  font-style: italic;
  background-color: #f1d2d3;
}

.footer-container {
  display: flex;
  justify-content: end;
}

.button-download:hover {
  color: #fff;
  text-decoration: none;
}

.project-details {
  padding: 0;
}

.project-details li {
  margin-bottom: 15px;
  line-height: 18px;
}

.project-title-stack {
  display: inline-block;
}

.project-stack {
  display: inline-block;
  margin-right: 10px;
  background-color: #a0a3aa;
  color: #fff;
  padding: 0 5px;
}

.project-description {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .header-wrapper {
    width: 100%;
    padding: 20px 60px;
  }

  .header-avatar-wrapper {
    display: none;
  }

  .header-wrapper-small-size-avatar {
    display: block;
    width: 27%;
    height: 300px;
    background-image: url("./assets/avatar.jpg");
    background-size: cover;
    background-position: center;
  }

  .header-wrapper-small-size-text {
    padding: 0 20px;
  }
}
@media (max-width: 920px) {
  .header-name {
    white-space: wrap;
    line-height: 1;
  }
}

@media (max-width: 900px) {
  .header-wrapper-small-size-avatar {
    width: 50%;
    border: 2px solid #fff;
  }
  .header-wrapper-small-size-text {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-wrapper {
    padding: 20px 20px;
  }
  .header-name {
    white-space: wrap;
    line-height: 1;
    margin-top: 0;
  }
  .header-title {
    white-space: wrap;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .app-wrapper {
    flex-wrap: wrap;
  }

  .left-block {
    width: 100%;
    padding: 40px 0 0 0;
  }

  .right-block {
    width: 100%;
    padding: 0;
  }
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts-list li {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .header-wrapper-small-size {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .header-wrapper-small-size-avatar {
    display: none;
  }
  .header-wrapper-mobile-size-avatar {
    display: block;
    width: 100%;
    height: 300px;
    background-image: url("./assets/avatar.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
  }
  .header-wrapper-small-size-text {
    width: 100%;
    text-align: center;
  }
  .header-name {
    white-space: nowrap;
    line-height: 0.1;
    margin-top: 30px;
    font-size: 60px;
  }
  .header-title {
    white-space: nowrap;
    line-height: 0.1;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 520px) {
  #root {
    padding: 0;
  }
}

@media (max-width: 520px) {
  #root {
    padding: 0;
  }
  .header-name {
    white-space: nowrap;
    line-height: 0.1;
    margin-top: 30px;
    font-size: 50px;
  }
}

@media (max-width: 450px) {
  .project-details-wrapper-mobile {
    display: flex;
    align-items: center;
  }
  .project-image-nda {
    display: none;
  }
  .project-image-nda-mobile {
    display: flex;
    width: 100px;
    min-width: 100px;
    height: 75px;
    border: 1px solid #ccc;
    margin-right: 20px;
    font-family: Ruthie, cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #000;
    background-color: #eee;
  }

  .project-image {
    display: none;
  }

  .project-details li {
    margin-bottom: 13px;
    line-height: 18px;
  }

  .project-image-mobile {
    width: 100%;
    margin-right: 20px;
    display: flex;
  }

  .project-image-mobile img {
    display: block;
    width: 100px;
    border: 1px solid #ccc;
    height: fit-content;
    margin-right: 20px;
  }
}
